<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <div class="row top-buffer">
      <div class="col-sm-5">
        <hr>
      </div>
      <div class="col-sm-2">
        <h2 class="title text-center">Skills</h2>
      </div>
      <div class="col-sm-5">
        <hr>
      </div>
    </div>
    <div id="proficiency">
      <div id="android-level" class="proficiency-level">Android</div>
      <br>
      <div id="angular-level" class="proficiency-level">Angular</div>
      <br>
      <div id="java-level" class="proficiency-level">Java</div>
      <br>
      <div id="javascript-level" class="proficiency-level">Javascript</div>
      <br>
      <div id="html-level" class="proficiency-level">HTML/HTML5</div>
      <br>
      <div id="css-level" class="proficiency-level">CSS/CSS3</div>
      <br>
      <div id="swift-level" class="proficiency-level">SWIFT</div>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <div class="row top-buffer">
      <div class="col-sm-5">
        <hr>
      </div>
      <div class="col-sm-2">
        <h2 class="title text-center">Timeline</h2>
      </div>
      <div class="col-sm-5">
        <hr>
      </div>
    </div>
    <md-card class="card-style">
      <md-card-header>
        <img src="../../assets/img/examples/roller.png" md-card-avatar (click)="linkToRoller()">
        <md-card-title>Roller Agency (June 2016 - Present)</md-card-title>
        <md-card-subtitle>Application Developer - Mainly responsible for Android and Angular development, database
          architecture.
        </md-card-subtitle>
      </md-card-header>
    </md-card>
  </div>
  <div class="col-sm-1"></div>
</div>

<app-footer></app-footer>
