<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <div class="row top-buffer">
      <div class="col-sm-4">
        <hr>
      </div>
      <div class="col-sm-4">
        <h2 class="title text-center"><i>SKILLS</i></h2>
      </div>
      <div class="col-sm-4">
        <hr>
      </div>
    </div>

    <div class=" row top-buffer"></div>

    <div id="proficiency">
      <div id="android-level" class="proficiency-level">Android</div>
      <br>
      <div id="angular-level" class="proficiency-level">Angular</div>
      <br>
      <div id="java-level" class="proficiency-level">Java</div>
      <br>
      <div id="javascript-level" class="proficiency-level">Javascript</div>
      <br>
      <div id="html-level" class="proficiency-level">HTML/HTML5</div>
      <br>
      <div id="css-level" class="proficiency-level">CSS/CSS3</div>
      <br>
      <div id="swift-level" class="proficiency-level">SWIFT</div>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <div class="row top-buffer">
      <div class="col-sm-4">
        <hr>
      </div>
      <div class="col-sm-4">
        <h2 class="title text-center"><i>TIMELINE</i></h2>
      </div>
      <div class="col-sm-4">
        <hr>
      </div>
    </div>

    <div class=" row top-buffer"></div>

    <md-card class="card-style">
      <md-card-header>
        <img src="../../assets/img/examples/roller.png" md-card-avatar (click)="linkToRoller()">
        <md-card-title>Roller Agency, Since June 2016</md-card-title>
        <md-card-subtitle>
          <div class="text-left">Application Developer - Mainly responsible for Android and
            Angular development, database architecture. Engaged in full development lifecycle, from feasibility
            requirements, system architecture to coding and functional implementation, testing and deployment. Earned
            valuable commercial experience of large projects for Android application and Web application.
          </div>
        </md-card-subtitle>
      </md-card-header>
    </md-card>

    <div class=" row top-buffer"></div>

    <md-card class="card-style">
      <md-card-header>
        <img src="../../assets/img/examples/book-bridge.jpeg" md-card-avatar>
        <md-card-title>Freelance for Android Application Development, Since May 2015</md-card-title>
        <md-card-subtitle>
          <div class="text-left">Strong interests inspired by my research project, and based on
            my strong Java background, I started working as freelance for Android development. This improved my
            proficiency in Android framework,and utilizing 3rd party APIs. I experienced the full life-cycle of app
            development, from customer requirements, system design, UI prototype, to database architecture, coding,
            testing and deployment to Google play store.
          </div>
        </md-card-subtitle>
      </md-card-header>
    </md-card>

    <div class=" row top-buffer"></div>

    <md-card class="card-style">
      <md-card-header>
        <img src="../../assets/img/examples/shefLogo.png" md-card-avatar (click)="linkToShef()">
        <md-card-title>MPhil in Information Science, University of Sheffield, earned May 2015</md-card-title>
        <md-card-subtitle>
          <div class="text-left">Doing research in University of Sheffield offered me the opportunity to get experience
            in world leading research institute. The most valuable thing I learnt was research thinking and problem
            solving. From making hypotheses, to conduct appropriate experiment by using correct methodology, and finally
            approve the hypotheses. Actually, building an application is a similar thing, isn't it?
          </div>
        </md-card-subtitle>
      </md-card-header>
    </md-card>

    <div class=" row top-buffer"></div>

    <div class="row top-buffer">
      <div class="col-sm-3">
        <hr>
      </div>
      <div class="col-sm-6">
        <h2 class="title text-center"><i>MY SYSTEM</i></h2>
      </div>
      <div class="col-sm-3">
        <hr>
      </div>
    </div>

    <div class=" row top-buffer"></div>

    <div class="row blur-bg">
      <h5 class="my-system-style text-center">PURSUE PASSIONS, NOT PAYCHECKS.</h5>
      <h5 class="my-system-style text-center">CARE ABOUT THE CUSTOMER.</h5>
      <h5 class="my-system-style text-center">BE CAREFUL, LOVABLE, SYSTEMATIC, AND RELENTLESS.</h5>
      <h5 class="my-system-style text-center">BELIEVE IN CHANGE.</h5>
      <h5 class="my-system-style text-center">INVEST IN IDEAS THAT MATTER.</h5>
      <h5 class="my-system-style text-center">DON'T TAKE YOURSELF TOO SERIOUSLY.</h5>
      <h5 class="my-system-style text-center">READ EVERYDAY, AND A LOT.</h5>
      <h5 class="my-system-style text-center">BE LAZY AND DUMB.</h5>
    </div>

  </div>
  <div class="col-sm-1"></div>
</div>

<div class=" row top-buffer"></div>
<app-footer></app-footer>
