<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <!--<img src="assets/img/examples/me3.jpg" class="embed-responsive">-->
    <div class="bg-cover rounded-circle text-center inner-center"></div>
    <md-card class="example-card top-buffer">
      <h2 class="text-center title">Hi, I am Fei Xie</h2>
      <hr>
      <!--<md-card-header>-->
      <!--<md-card-title class="center"><h2>Hi</h2></md-card-title>-->
      <!--<md-card-subtitle>Dog Breed</md-card-subtitle>-->
      <!--</md-card-header>-->
      <!--<img md-card-image src="assets/img/examples/shiba2.jpg">-->
      <md-card-content>
        <p class="text-center">
          I am an Android and Angular developer based in London / Nottingham, UK.
        </p>
        <p class="text-center">
          I have a passion for mobile development and love to create for web and mobile devices.
        </p>
      </md-card-content>
      <!--<md-card-actions>-->
      <!--<button md-button>LIKE</button>-->
      <!--<button md-button>SHARE</button>-->
      <!--</md-card-actions>-->
    </md-card>
    <md-card class="example-card top-buffer">
      <h2 class="text-center question">What I can do.</h2>
      <hr>
      <md-card-content>
        <h5 class="title top-buffer-2x">Build what you want.</h5>
        <p class="top-buffer">
          I like to keep it simple. My goals are to focus on core content and conveying the message that you want to
          send.
        </p>
        <h5 class="title top-buffer-2x">Develop what you need.</h5>
        <p class="top-buffer">
          I'm a developer, so I know how to create your Android app and Angular website using the latest technologies
          available.
        </p>
      </md-card-content>
    </md-card>
    <md-card class="example-card top-buffer">
      <h2 class="text-center question">I can help.</h2>
      <hr>
      <md-card-content>
        <p class="top-buffer">
          If you have a project that you want to get started, think you need my help with something or just fancy saying
          hey, then <strong><i>let's get in touch</i></strong>.
        </p>
        <!--<a class="btn btn-primary wholeButton" href="mailto:xiefeieric@gmail.com">Message Me</a>-->
        <!--<br/><br/><br/>-->
        <!--<a md-raised-button class="btn wholeButton" href="mailto:xiefeieric@gmail.com">Message Me</a>-->
        <div class="row top-buffer-2x">
          <div class="col-sm-3" md-tooltip="My Blog" mdTooltipPosition="above">
            <img src="../../assets/img/examples/blog.webp"
                 class="embed-responsive rounded picStyle inner-center">
          </div>
          <div class="col-sm-3" md-tooltip="My GitHub" mdTooltipPosition="above">
            <img src="../../assets/img/examples/git.jpg" class="embed-responsive rounded picStyle inner-center"
                 (click)="openGithub()">
          </div>
          <div class="col-sm-3" md-tooltip="My LinkedIn" mdTooltipPosition="above">
            <img src="../../assets/img/examples/in.jpg" class="embed-responsive rounded picStyle inner-center"
                 (click)="openLinkedin()">
          </div>
          <div class="col-sm-3" md-tooltip="Email Me" mdTooltipPosition="above">
            <img src="../../assets/img/examples/email.jpg"
                 class="embed-responsive rounded picStyle inner-center" (click)="writeEmail()">
          </div>
        </div>
      </md-card-content>
    </md-card>

  </div>
  <div class="col-sm-1"></div>
</div>
