@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.title {
  color: #45b29a;
}

.hr-color {
  background-color: #45b29a;
}

.top-buffer {
  margin-top: 3rem;
}

#proficiency {
  background-image: linear-gradient(to right, rgba(255, 0, 0, .25), rgba(255, 255, 0, .25), rgba(0, 255, 0, .25));
  border-radius: .5em;
  float: left;
  /*margin: 1em;*/
  transition: width 2s;
  /*width: calc(63% - 2em);*/
  width: 100%;
}

/*#proficiency:hover {*/
  /*background-image: linear-gradient(to right, red, yellow, green);*/
  /*width: calc(65% - 2em);*/
/*}*/

#proficiency .proficiency-level {
  background-image: linear-gradient(rgba(127, 127, 127, .5), rgba(0, 0, 0, .5));
  border-radius: .4em;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: .3em .5em;
}

#proficiency .proficiency-level:hover {
  background-image: linear-gradient(rgba(127, 127, 127, .75), rgba(0, 0, 0, .75));
}

@-webkit-keyframes proficiency-start {
  from {
    width: 0;
  }
}

#proficiency #html-level {
  -webkit-animation: proficiency-start 2s;
  width: 70%;
}

#proficiency #android-level {
  -webkit-animation: proficiency-start 2s;
  width: 90%;
}

#proficiency #css-level {
  -webkit-animation: proficiency-start 2s;
  width: 50%;
}

#proficiency #angular-level {
  -webkit-animation: proficiency-start 2s;
  width: 70%;
}

#proficiency #javascript-level {
  -webkit-animation: proficiency-start 2s;
  width: 60%;
}

#proficiency #java-level {
  -webkit-animation: proficiency-start 2s;
  width: 80%;
}

#proficiency #swi-level {
  -webkit-animation: proficiency-start 2s;
  width: 35%;
}
