<div id="particles-js" class="particle-style"></div>
<div class="row" (window:resize)="onResize($event)">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <div class="row top-buffer">
      <div class="col-sm-4">
        <hr>
      </div>
      <div class="col-sm-4">
        <h2 class="title text-center"><i>PORTFOLIO</i></h2>
      </div>
      <div class="col-sm-4">
        <hr>
      </div>
    </div>
    <div class="top-buffer"></div>
    <div class="row">
      <div class="col-md-12">
        <md-grid-list cols="{{cols}}" rowHeight="1:1" gutterSize="2em">
          <md-grid-tile>
            <md-card>
              <img md-card-image src="../../assets/img/examples/roller.png">
              <md-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </md-card-content>
            </md-card>
          </md-grid-tile>

          <md-grid-tile>
            <md-card>
              <img md-card-image src="../../assets/img/examples/roller.png">
              <md-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </md-card-content>
            </md-card>
          </md-grid-tile>

          <md-grid-tile>
            <md-card>
              <img md-card-image src="../../assets/img/examples/roller.png">
              <md-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </md-card-content>
            </md-card>
          </md-grid-tile>

          <md-grid-tile>
            <md-card>
              <img md-card-image src="../../assets/img/examples/roller.png">
              <md-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </md-card-content>
            </md-card>
          </md-grid-tile>

        </md-grid-list>
      </div>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>



