<div *ngIf="showParticles" id="particles-js" class="particle-style"></div>
<div class="row" (window:resize)="onResize($event)">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <div class="row top-buffer">
      <div class="col-sm-4">
        <hr>
      </div>
      <div class="col-sm-4">
        <h2 class="title text-center"><i>PORTFOLIO</i></h2>
      </div>
      <div class="col-sm-4">
        <hr>
      </div>
    </div>
    <div class="top-buffer"></div>
    <div class="row">
      <div class="col-md-12">
        <md-grid-list cols="{{cols}}" rowHeight="1:1" gutterSize="2em">
          <md-grid-tile>
            <md-card>
              <img md-card-image src="../../assets/img/project/project-me.png">
              <md-card-content>
                <h6>FEIXIE.ME</h6>
                <p>
                  This is my personal website, build with Angular4, Bootstrp4, Angular Material and Firebase.
                </p>
              </md-card-content>
            </md-card>
          </md-grid-tile>

          <md-grid-tile>
            <md-card>
              <img md-card-image src="../../assets/img/project/project-weather.png">
              <md-card-content>
                <h6>Cool Weather</h6>
                <p>
                  A weather app, auto detect your location and show weather forecast around your.
                  <a href="https://play.google.com/store/apps/details?id=uk.me.feixie.coolweather" target="_blank">Download</a>
                </p>
              </md-card-content>
            </md-card>
          </md-grid-tile>

          <md-grid-tile>
            <md-card>
              <img md-card-image src="../../assets/img/project/project-near.png">
              <md-card-content>
                <h6>Nearby</h6>
                <p>
                  A location-based app, which will show most popular restaurant around you.
                  <a href="https://play.google.com/store/apps/details?id=uk.me.feixie.testnearby" target="_blank">Download</a>
                </p>
              </md-card-content>
            </md-card>
          </md-grid-tile>

          <md-grid-tile>
            <md-card>
              <img md-card-image src="../../assets/img/project/project-shopping.png">
              <md-card-content>
                <h6>Shopping List</h6>
                <p>
                  A shopping list app with reminder, which can help shopping easier for you.
                  <a href="https://play.google.com/store/apps/details?id=uk.me.feixie.shoppinglist" target="_blank">Download</a>
                </p>
              </md-card-content>
            </md-card>
          </md-grid-tile>

          <md-grid-tile>
            <md-card>
              <img md-card-image src="../../assets/img/project/project-note.png">
              <md-card-content>
                <h6>Note</h6>
                <p>
                  A note taking app which can take text, voice, photo and video, help note taking smooth.
                  <a href="https://play.google.com/store/apps/details?id=uk.co.feixie.mynote"
                     target="_blank">Download</a>
                </p>
              </md-card-content>
            </md-card>
          </md-grid-tile>

          <md-grid-tile>
            <md-card>
              <img md-card-image src="../../assets/img/project/project-player.png">
              <md-card-content>
                <h6>XFPlayer</h6>
                <p>
                  A full format support media player which has live channel and server side stream.
                  <a href="http://www.feixie.me.uk/xfplayer/app-release.apk"
                     target="_blank">Download</a>
                </p>
              </md-card-content>
            </md-card>
          </md-grid-tile>

        </md-grid-list>
      </div>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>



